body {
    font-family:Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header .logo {
    font-size: 24px;
    color:#e5e7eb
}

header nav a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav li {
    display: inline; 
    margin-right: 10px;
  }

  nav a {
    text-decoration: none; 
    color: #007BFF; 
  }

  nav a:hover {
    color: #0056b3;
  }


main {
    padding: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 0;
    border-radius: 5px;
}

.hero-text {
    max-width: 50%;
    margin-right: 10px;
    margin-left:10px;
}

.hero-text h1 {
    font-size: 2.5rem;
}

.hero-text p {
    font-size: 1rem;
    color: #b3b3b3;
}

.hero-text button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.hero-image {
    width: auto;
    height:auto;    
}

.info {
    margin-top: 2rem;
}

.info h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
}

.info-box {
    border: 2px solid #007bff;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 30%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.random-info {
    display: flex;
    justify-content: space-between;
}

.info-item {
    width: 24%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.info-item img {
    width: 100%;
    height: auto;
}

.info-item p {
    margin-top: 10px;
}

.quote {
    background-color: #e5e7eb;
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}

.quote blockquote {
    margin: 0;
}

.quote p {
    font-style: italic;
    font-style: bold;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4285F4;
    padding: 20px;
    color: white;
    border: #4285F4 solid 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right:150px;
}

.cta-text h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.cta-text p {
    margin: 5px 0 0;
    font-size: 16px;
    text-align: center;
}

.cta-button button {
    background-color: #357ae8;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.cta-button button:hover {
    background-color: #357ae8;
    color: white;
    border: 2px solid #357ae8;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}
@media (max-width: 800px) { 
    .hero { 
        flex-direction: column; 
        text-align: center;
     } 
     .hero-text { 
        margin-right: 0; 
        margin-bottom: 20px;
     } 
     .info-box {
        width: 100%;
        margin-bottom: 20px;
     } 
     header nav { 
        flex-direction: column; 
        align-items: center; 
    } 
    header nav a { 
        margin: 0.5rem 0; 
    }
}